div.sdmenu {
	width: 150px;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 10px;
	background: url(bottom.gif) no-repeat  right bottom;
	color: #ffffff;
}
div.sdmenu div {
	background: url(title.gif) repeat-x;
	overflow: hidden;
}
div.sdmenu div:first-child {
	background: url(toptitle.gif) no-repeat;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	font-size: 11px;

	/*white-space: nowrap;*/
	color: white;
	background: url(expanded.gif) no-repeat 10px center;
	cursor: default;
	border-bottom: 1px solid #ddd;
}
div.sdmenu div.collapsed span {
	background-image: url(collapsed.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 11px;

	border-bottom: 1px solid #ddd;
	color: #000000;
}
div.sdmenu div a.current {
	background : #ccc;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #000000;

}
div.sdmenu div a:hover {
	background : #c3d2f0 url(linkarrow.gif) no-repeat right center;
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}

A:active {
	color: #000000;
	font-family: Arial, sans-serif;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none;
	background-color: #D2E1FF;
}

body {
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow: hidden;
	/*	background-image : url(../img/pagebg_o.jpg);*/
}

div#contentCanvas {
	overflow: auto;
	/* DeB887 */ /* border:thin groove;
	*/ /*background-image : url(../img/pagebg_o.jpg);*/
	background-color: #FFFFFF;
	border: 1px solid Gray;
}

table.tblFormSection tr td div {
	background-color: #efedde;
	border-bottom-color: #999999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #999999;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #999999;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #999999;
	border-top-style: solid;
	border-top-width: 1px;
	width: 98%;
	height: 50px;
	padding-left: 5px;
	overflow-y: auto;
}

div.buttonHeader {
	color: black;
	cursor: hand;
	/* netscape => pointer */
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 5mm;
	margin: 0px;
	overflow: visible;
	/* position: relative;
	*/
	text-align: center;
	white-space: nowrap;
	/*border : thin outset;
	*/
}

div.buttonhighlightHeader {
	color: #0000ff;
	cursor: hand;
	/* netscape => pointer */
	font-family: Verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: 5mm;
	margin: 0px;
	overflow: visible;
	/* position: relative;
	*/
	text-align: center;
	white-space: nowrap;
	/*border : thin outset;
	*/
}

div.button {
	color: black;
	cursor: hand; /* netscape=> pointer */
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 5mm;
	margin: 0px;
	/* overflow: visible;
	position: relative; */
	text-align: center;
	white-space: nowrap;
	/* border : thin outset; */
}

div.buttonhighlight {
	color: #0000ff;
	cursor: hand; /* netscape=> pointer */
	font-family: Verdana;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	line-height: 5mm;
	margin: 0px;
	/* overflow: visible;
	position: relative; */
	text-align: center;
	white-space: nowrap;
	/* border : thin outset; */
}

div.button img {
	MARGIN-LEFT: 1mm;
	MARGIN-RIGHT: 1mm;
	POSITION: relative;
	VERTICAL-ALIGN: middle
}

div.buttonhighlight img {
	MARGIN-LEFT: 1mm;
	MARGIN-RIGHT: 1mm;
	POSITION: relative;
	VERTICAL-ALIGN: middle
}
