
.shadetabs{
PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 0px; PADDING-TOP: 30px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left;
overflow: hidden;
background: transparent;
}


.shadetabs li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
/* text-transform: uppercase; */
}


.shadetabs a{
FONT: bold 10px Verdana;
float: left;
color: black;
background: #dddddd url(roundleft.gif) no-repeat left top; /*default background color of tabs, left corner image*/
margin: 0 2px 0 0;
padding: 0 0 1px 3px;
text-decoration: none;
/* letter-spacing: 1px;*/
}

.shadetabs a span{
FONT: bold 10px Verdana;
float: left;
display: block;
background: transparent url(roundright.gif) no-repeat right top; /*right corner image*/
padding: 4px 9px 3px 6px;
cursor: pointer;
}

.shadetabs a span{
float: none;
}

.shadetabs a:hover span{
background-color: transparent;
}

.shadetabs a:hover {
FONT: bold 10px Verdana;
background-color: #de5c03; /*background color of tabs onMouseover*/
text-decoration: none;
color: white;
}

.shadetabs li a.selected {
FONT: bold 10px Verdana;
background-color: #fe7c23; /*background color of tabs onMouseover*/
color: white;
}

.shadetabsdivider{ /*CSS for horizontal line.*/
clear: both;
padding: 0;
width: 100%;
height: 5px;
line-height: 5px;
background: #fe7c23; /*background color of horizontal line*/
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}


.tabcontent {
	DISPLAY: none;
}

