BODY
{
	overflow: auto;
    COLOR: #000000;
    FONT-FAMILY: Arial, sans-serif;
    FONT-SIZE: 11px;
}

td#orgpaneltitle {
	height :28px;
	padding-left:5px;
	font-family : Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size : 10px;
	color: black;
}

td#orgpanel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-style : normal;
	font-weight : normal;
	/*background-color: #6E8EB2;*/
	}
A:link
{
    COLOR: #043165;
    FONT-FAMILY: Arial, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #043165;
    FONT-FAMILY: sans-serif, Arial;
    FONT-SIZE: 11px;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #043165;
    FONT-FAMILY: Arial, sans-serif;
    FONT-SIZE: 11px;
    TEXT-DECORATION: underline
}
A:active
{
	COLOR: #043165;
	FONT-FAMILY: Arial, sans-serif;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
	/*background-color: #D2E1FF;*/
}
.treehighlight {
	background-color: #D7D7D7;
}
