BODY {
	FONT-SIZE: 11px; MARGIN: 0px; OVERFLOW: hidden; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
H3 {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 15px; MARGIN-BOTTOM: 0px; FONT-FAMILY: Verdana
}
TEXTAREA {
	FONT-SIZE: 11px; OVERFLOW: hidden; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fffcf9
}
INPUT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}

LABEL.text {
	BORDER-RIGHT: #a9a9a9 1px solid; BORDER-TOP: #a9a9a9 1px solid; BORDER-LEFT: #a9a9a9 1px solid; BORDER-BOTTOM: #a9a9a9 1px solid; BACKGROUND-COLOR: #f0f8ff
}
TD#envCanvasContent {
	BACKGROUND: #fff8dc; WIDTH: 100%; HEIGHT: 100%
}
TABLE#window {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; HEIGHT: 100%
}
INPUT#imgPropertyIcon {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
TD#tdWinTitle {
	PADDING-LEFT: 10px
}
LABEL#txtWinTitle {
	
}
TABLE#winTitleBar {
	BORDER-TOP: #9fc3ee thin groove; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #1673a5; BORDER-LEFT: gray thin groove; COLOR: #ffffff; BORDER-BOTTOM: navy 1px solid; HEIGHT: 16px
}
TR#winCanvas {
	BACKGROUND: #a9cde0; WIDTH: 100%; HEIGHT: 100%
}
TR#winStatusBar {
	BORDER-RIGHT: thin groove; BORDER-TOP: thin groove; BACKGROUND: #9fc3ee; VERTICAL-ALIGN: bottom; BORDER-LEFT: thin groove; WIDTH: 100%; BORDER-BOTTOM: thin groove; HEIGHT: 20px
}
TR#winStatusBar TABLE {
	BORDER-RIGHT: #7b9ec9 thin groove; BORDER-TOP: #7b9ec9 thin groove; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #7b9ec9 thin groove; BORDER-BOTTOM: #7b9ec9 thin groove
}
LABEL#txtStatus {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 5px; BORDER-TOP: 1px inset; PADDING-LEFT: 5px; BORDER-LEFT: 1px inset; BORDER-BOTTOM: 1px inset
}
TD#contentMenuBar {
	VERTICAL-ALIGN: top; PADDING-TOP: 3px; HEIGHT: 20px
}
TD#contentMenuBar LABEL {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 11px
}
TABLE#contentCompositeBar {
	WIDTH: 100%; HEIGHT: 20px; BACKGROUND-COLOR: #9fc3ee
}
TABLE#contentCompositeBar TR {
	BACKGROUND-COLOR: #9fc3ee
}
TABLE#contentCompositeBar TR TD LABEL {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px
}
TABLE#contentCompositeBar TR TD LABEL#txtContentTitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px
}
TABLE#contentCompositeBar2 {
	WIDTH: 100%; HEIGHT: 40px; BACKGROUND-COLOR: #9fc3ee
}
TABLE#contentCompositeBar2 TR {
	BACKGROUND-COLOR: #9fc3ee
}
TABLE#contentCompositeBar2 TR TD LABEL {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px
}
TABLE#contentCompositeBar2 TR TD LABEL#txtContentTitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px
}
TD#contentTitleBar {
	PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom; TEXT-OVERFLOW: ellipsis
}
TD#contentToolBar {
	VERTICAL-ALIGN: bottom; WIDTH: 30%
}
TD#contentNavigatorBar {
	VERTICAL-ALIGN: middle; WIDTH: 30%
}
TD#contentTitleBar LABEL {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 12px
}
TD#contentTitleBar LABEL#txtContentTitle {
	PADDING-RIGHT: 5px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 1px
}
DIV#contentCanvas {
	BORDER-RIGHT: gray 1px solid; BORDER-TOP: gray 1px solid; OVERFLOW: hidden; 
	BORDER-LEFT: gray 1px solid; BORDER-BOTTOM: gray 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE#generalPurposeBar {
	BORDER-TOP: silver 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; 
	FONT-STYLE: normal; FONT-FAMILY: Verdana; HEIGHT: 100%; BACKGROUND-COLOR: #9fc3ee;
	display:none;
}
TABLE.tblFormSection {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
TABLE.tblFormSection TBODY TR {
	
}
TABLE.tblFormSection THEAD TR TD.subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; BACKGROUND-COLOR: #005b00
}
TABLE.tblFormSection FIELDSET {
	PADDING-LEFT: 15px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TABLE.tblFormSection FIELDSET TABLE {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
TABLE.tblFormSection TR TD DIV {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; OVERFLOW-Y: hidden; PADDING-LEFT: 5px; BORDER-LEFT: #999999 1px solid; WIDTH: 98%; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 50px; BACKGROUND-COLOR: #efedde
}
TABLE.tblInfo {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
TABLE.tblInfo THEAD TR TD {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #005b00; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR TD.index {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #007100; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR TD.indexdiff {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #006699; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR TD.indexadd {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #006699; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR TD.indexdel {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #dd8500; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR TD.amount {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
TABLE.tblInfo THEAD TR TD.subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR TD.subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: white; BACKGROUND-COLOR: #3e6484; TEXT-ALIGN: left
}
TABLE.tblInfo THEAD TR TD.topheader {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: white; BACKGROUND-COLOR: #005b00; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #fffaf0; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR.odd {
	BACKGROUND-COLOR: #e4efe6
}
TABLE.tblInfo TBODY TR.even {
	BACKGROUND-COLOR: #d1e9d3
}
TABLE.tblInfo TBODY TR TD {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR TD.fieldname {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 20%; COLOR: black; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #91bd98
}
TABLE.tblInfo TBODY TR TD.fieldnamediff {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 20%; COLOR: white; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #006699
}
TABLE.tblInfo TBODY TR TD.fieldnamedel {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 20%; COLOR: white; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #dd8500
}
TABLE.tblInfo TBODY TR TD.odd {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e4efe6; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR TD.even {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #d1e9d3; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR TD.button {
	BACKGROUND: #336699; BORDER-BOTTOM-WIDTH: medium; BORDER-LEFT: thin; TEXT-ALIGN: center
}
TABLE.tblInfo TBODY TR TD.total {
	FONT-WEIGHT: bold; BACKGROUND: #c2c2c7; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR TD.subtotal {
	FONT-WEIGHT: bold; BACKGROUND: #a1a0a1; TEXT-ALIGN: left
}
TABLE.tblInfo TBODY TR TD.rate {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #ffdd71
}
TABLE.tblInfo TBODY TR TD.fieldname A:link {
	FONT-SIZE: 11px; COLOR: #f8f8ff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
TABLE.tblInfo TBODY TR TD.fieldname A:visited {
	FONT-SIZE: 11px; COLOR: #f8f8ff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
TABLE.tblInfo TBODY TR TD.fieldname A:hover {
	FONT-SIZE: 11px; COLOR: #f0e68c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
TABLE.tblInfo TBODY TR TD.fieldname A:active {
	FONT-SIZE: 11px; COLOR: #8b4513; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fdf0e7; TEXT-DECORATION: none
}
TABLE.tblInput {
	MARGIN-TOP: 0px; FONT-SIZE: 11px; FONT-FAMILY: Verdana
}
TABLE.tblInput THEAD TR TD {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #005b00; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR TD.index {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #007100; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR TD.indexdiff {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #006699; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR TD.indexadd {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #006699; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR TD.indexdel {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; COLOR: white; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #dd8500; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR TD.amount {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right
}
TABLE.tblInput TBODY TR TD.subtotal {
	BACKGROUND: #a1a0a1; TEXT-ALIGN: left
}
TABLE.tblInput THEAD TR TD.subheader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
TABLE.tblInput TBODY TR TD.subtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: white; BACKGROUND-COLOR: #3e6484; TEXT-ALIGN: left
}
TABLE.tblInput THEAD TR TD.topheader {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: white; BACKGROUND-COLOR: #005b00; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR {
	PADDING-RIGHT: 2px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #fffaf0; TEXT-ALIGN: left
}
TABLE.tblInput TBODY TR.odd {
	BACKGROUND-COLOR: #e4efe6
}
TABLE.tblInput TBODY TR.even {
	BACKGROUND-COLOR: #d1e9d3
}
TABLE.tblInput TBODY TR TD {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
TABLE.tblInput TBODY TR TD.odd {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #e4efe6; TEXT-ALIGN: left
}
TABLE.tblInput TBODY TR TD.even {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #d1e9d3; TEXT-ALIGN: left
}
TABLE.tblInput TBODY TR TD.button {
	BACKGROUND: #336699; BORDER-BOTTOM-WIDTH: medium; BORDER-LEFT: thin; TEXT-ALIGN: center
}
TABLE.tblInput TBODY TR TD.total {
	FONT-WEIGHT: bold; BACKGROUND: #c2c2c7; TEXT-ALIGN: left
}
TABLE.tblInput TBODY TR TD.fieldname {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 20%; COLOR: black; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #91bd98
}
TABLE.tblInput TBODY TR TD.fieldnamediff {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 20%; COLOR: white; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #006699
}
TABLE.tblInput TBODY TR TD.fieldnamedel {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; WIDTH: 20%; COLOR: white; PADDING-TOP: 3px; FONT-STYLE: normal; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #dd8500
}
TABLE.tblInput TBODY TR TD.fieldname A:link {
	FONT-SIZE: 11px; COLOR: #f8f8ff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
TABLE.tblInput TBODY TR TD.fieldname A:visited {
	FONT-SIZE: 11px; COLOR: #f8f8ff; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
TABLE.tblInput TBODY TR TD.fieldname A:hover {
	FONT-SIZE: 11px; COLOR: #f0e68c; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
TABLE.tblInput TBODY TR TD.fieldname A:active {
	FONT-SIZE: 11px; COLOR: #8b4513; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fdf0e7; TEXT-DECORATION: none
}
.btnNormal {
	BORDER-RIGHT: #005b00 1px solid; BORDER-TOP: #005b00 1px solid; BORDER-LEFT: #005b00 1px solid; BORDER-BOTTOM: #005b00 1px solid; BACKGROUND-COLOR: #e4efe6; TEXT-ALIGN: center
}
.btnHighlight {
	BORDER-RIGHT: purple 1px solid; BORDER-TOP: purple 1px solid; BORDER-LEFT: purple 1px solid; BORDER-BOTTOM: purple 1px solid; BACKGROUND-COLOR: #faf0e6; TEXT-ALIGN: center
}
DIV.buttonHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; OVERFLOW: hidden; CURSOR: hand; COLOR: black; LINE-HEIGHT: 5mm; FONT-STYLE: normal; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
DIV.buttonhighlightHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN: 0px; OVERFLOW: hidden; CURSOR: hand; COLOR: #0000ff; LINE-HEIGHT: 5mm; FONT-STYLE: normal; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
DIV.button {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; CURSOR: hand; COLOR: black; LINE-HEIGHT: 5mm; FONT-STYLE: normal; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
DIV.buttonhighlight {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px; CURSOR: hand; COLOR: #0000ff; LINE-HEIGHT: 5mm; FONT-STYLE: normal; FONT-FAMILY: Verdana; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
DIV.button IMG {
	MARGIN-LEFT: 1mm; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 1mm; POSITION: relative
}
DIV.buttonhighlight IMG {
	MARGIN-LEFT: 1mm; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 1mm; POSITION: relative
}
TD#orgpaneltitle {
	PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: black; FONT-FAMILY: Verdana; HEIGHT: 28px
}
TD#orgpanel {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
A:link {
	FONT-SIZE: 11px; COLOR: navy; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 11px; COLOR: navy; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A:hover {
	FONT-SIZE: 11px; COLOR: navy; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A:active {
	FONT-SIZE: 11px; COLOR: navy; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #fdf0e7; TEXT-DECORATION: none
}
.treehighlight {
	BACKGROUND-COLOR: #d7d7d7
}
.tableSize {
	WIDTH: 100%; HEIGHT: 100%; border: 0px 0px 0px 0px;
}
.required {
	FONT-SIZE: 11px; FLOAT: right; COLOR: black; MARGIN-RIGHT: 5px; FONT-FAMILY: Verdana
}
.txtLoginUser {
	PADDING-RIGHT: 5px; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: white; FONT-STYLE: normal; FONT-FAMILY: Verdana; TEXT-ALIGN: right
}
.txtError {
	FONT-SIZE: 9px; COLOR: blue; FONT-FAMILY: Verdana
}
.currency {
	TEXT-ALIGN: right
}
.txtHeaderName {
	FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
.role {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: verdana
}
A.menu:link {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menu:visited {
	FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A.menu:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e0f7c3; TEXT-DECORATION: none
}
A.menu:hover {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: verdana; BACKGROUND-COLOR: #e0f7c3; TEXT-DECORATION: none
}
A.note:link {
	FONT-SIZE: 11px; COLOR: blue; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.note:visited {
	FONT-SIZE: 11px; COLOR: navy; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.note:active {
	FONT-SIZE: 11px; COLOR: purple; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
A.note:hover {
	FONT-SIZE: 11px; COLOR: purple; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
tr#generalPurposeBarTR, table#generalPurposeBar, div#windowList, td#leftFrameTD { display:none }

div#contentCanvas { overflow:hidden; }



