table.sortable {
	border-spacing: 0;
	border-collapse: collapse;
	border-color:silver;
	border: 1px solid silver;
}
table.sortable thead {
    background-color:#888888;
    color:#eeeeee;
    font-family: Verdana;
    font-weight: bold;
    font-size: 12px;
    cursor: default;
    white-space: nowrap;
}
table.sortable thead th a:link {
    background-color:#888888;
    color:#eeeeee;
    font-family: Verdana;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
}
table.sortable th {
    white-space: nowrap;
	border:2pt outset silver;
	padding:1px;
}
table.sortable td {
    background-color:#f8f8f8;
    color:#000000;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
 }
 table.sortable tr.odd td {
	background-color: #ddd;
}
table.sortable tr.even td {
	background-color: #fff;
}
table.sortable tr.sortbottom td {
	border-top: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}