.shadetabs {
	PADDING-RIGHT: 0px; MARGIN-TOP: 1px; PADDING-LEFT: 20px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 3px; 
	FONT: bold 10px Verdana; MARGIN-LEFT: 0px; PADDING-TOP: 30px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.shadetabs LI {
	DISPLAY: inline; MARGIN: 0px
}
.shadetabs LI A {
	FONT: bold 10px Verdana;
	MARGIN-LEFT: 0px; MARGIN-RIGHT: 3px; BORDER-RIGHT: #778 1px solid; 
	PADDING-RIGHT: 7px; BORDER-TOP: #778 1px solid; PADDING-LEFT: 7px; Z-INDEX: 1; 
	BACKGROUND: #ebeadb url(shade.gif) repeat-x left top; 
	PADDING-BOTTOM: 4px; BORDER-LEFT: #778 1px solid; COLOR: #2d2b2b; PADDING-TOP: 4px; BORDER-BOTTOM: #778 1px solid; TEXT-DECORATION: none;
	/* POSITION: relative;  */
}
.shadetabs LI A:visited {
	FONT: bold 10px Verdana;
	COLOR: #2d2b2b
}
.shadetabs LI A:hover {
	FONT: bold 10px Verdana;
	COLOR: #2d2b2b; TEXT-DECORATION: underline; BACKGROUND: #faf9f4 url(shade.gif) repeat-x left top;
}
.shadetabs LI A.selected {
	TOP: -2px;
	/* POSITION: relative;  */
}
.shadetabs LI A.selected {
	FONT: bold 10px Verdana;
	BACKGROUND: #faf9f4 url(shadeactive.gif); BORDER-BOTTOM-COLOR: blue;
	text-transform: uppercase;
}
.shadetabs LI A.selected:hover {
	FONT: bold 10px Verdana;
	TEXT-DECORATION: none
}
.tabcontent {
	DISPLAY: none;
}

