.jsdomenuarrow {
	background-image: url(arrow.gif);
	background-repeat: no-repeat;
	height: 10px;
	position: absolute;
	right: 8px;
	width: 17px;
}
.jsdomenudiv {
	background-color: #DeDeDe;
	border: 0px outset;
	border-color: #FFFFFF #000000 #000000 #FFFFFF;
	cursor: default;
	position: absolute;
	visibility: hidden;
	z-index: 99999999;
}
.jsdomenuitem {
	background-color: transparent;
	border: none;
	color: #000000;
	font-family: Verdana;
	font-size: 12px;
	PADDING: 2px 15px 3px 5px;
	position: relative;
}
.jsdomenuitemover {
	background-image: url(menubar_over.gif);
	border: none;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 12px;
	padding: 2px 15px 3px 5px;
	position: relative;
}
.jsdomenusep hr {
	text-align: center;
	width: 100%;
	color: #D6D6D6;
	height: 1px;
	background-color: #D6D6D6;
}